body{
    background-color:#2A324B;
  }

h1{
    color: #C7CCDB;
    font-family:'Roboto', sans-serif;
    font-weight:bold;
}
h2{
    color:#C7CCDB;
    font-family: 'Roboto', sans-serif;
}
p{
    color:#E1E5EE;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bolder;
}
ul{
    list-style-type: circle;
    font-family: 'Nunito', sans-serif;
    color:#E1E5EE;
}
a:link{color:#C7CCDB}
a:visited{ color:#7307ed;}
a:hover{color: red}

img{
    border: 2px dashed salmon;
    border-radius: 15px;
    padding: 8px;
}