body{
    background-color:#2A324B;
  }
h1{
    color: #C7CCDB;
    font-family:'Roboto', sans-serif;
}
h2{
    color:#C7CCDB;
    font-family: 'Roboto', sans-serif;
}
h4{
    color:#C7CCDB;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
li{
    color:#E1E5EE;
    font-family: 'Nunito', sans-serif;
}
a{
    color:black;
    font-family: 'Nunito', sans-serif;
}
a:link {color:#C7CCDB}
a:visited{ color:#7307ed;}
a:active{color:red;}

table{
    border-spacing: 0px;
}

td{
    border: 1px solid salmon;
    padding: 5px;
    color:#E1E5EE;
    font-family: 'Nunito', sans-serif;
}